:root {
    --primary-black: #000
}

@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.nav-links a {
    font-size: 1rem;
    margin-right: 20px;
}

a {
    text-decoration: none;

}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden;*/
}

header {
    display: flex;
    flex-direction: row;
    /*bu istiqameti mueyyenleshdirir: justify-content align-items*/
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 7rem;
}

.fa-bars {
    display: none;
    cursor: pointer;
}

header .nav-links a {
    color: var(--primary-black);
}

@media (max-width:950px) {

    header {
        padding-left: 22px;
        padding-right: 22px;
    }

    /* child selector*/
    header>nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 2rem;
    }

}

/* INDTRODUCTION SECTION*/

.introduction {
    padding: 0rem 6.03rem;
    display: flex;
    flex-wrap: wrap;

}

.intro-left-side {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-top: 60px;
}

.intro-left-side>h1 {
    font-size: 4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.intro-left-side>h1>span {
    color: #FF8A56;
}

.intro-left-side p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #666666;
}

.intro-right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.bookacall>a {
    color: black;
}

.bookacall {
    padding-top: 17px;
}

.bookacall button {
    background-color: black;
    width: 151px;
    height: 58px;
    color: white;
    size: 18px;
    cursor: pointer;
}

.bookacall>a {
    margin-left: 20px;
}

@media(max-width:950px) {
    .introduction {
        padding: 0px;
    }

    .introduction .intro-left-side {
        min-width: 500px;
        text-align: center;
    }
}

/* TRUSTED-BY-SECTION START */

.trusted-by {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.trusted-by-companies {
    display: flex;
    justify-content: space-around;
    padding: 45px;

}

@media(max-width:570px) {
    .trusted-by-company:nth-child(even) {
        display: none;

    }
}

@media(max-width:500px) {
    .trusted-by-company:not(:first-child) {
        display: none;
    }
}

/*TRUSTED-BY-SECTION END*/



/*SERVICES SECTION START*/

.services-section {
    padding-top: 76.27px;
}

.services-section h6 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #FF5E69;

}

.services-section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-top: 20px;
}

.services-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
    margin-top: 40px;
}

ul {
    font-weight: 700;
    font-size: 16px;
}

.service-card p {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
}

.service-card {
    min-width: 250px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0px;
}

/* SERVICES SECTION END */



/* PROJECTS-CARDS START */

.projects-section {
    display: flex;
    flex-direction: column;
   padding-left: 83px;
    /*padding-top: 76px;*/
}

.projects-section h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: #3C46FF;
    font-size: 14px;
    letter-spacing: 4px;
  
}

.projects-section h6{
    padding-bottom: 20px;
}

.projects-section h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.view-all-projects {
    display: flex;
    justify-content: space-between;
    padding-right: 112px;


}

.view-all-projects button {
    width: 201px;
    height: 58px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.view-all-projects h1 {
    font-size: 54px;
    font-weight: 700;
}

.project-card-bottom a{
    color: black;
}

.projects-section h6 {
    color: #B16CEA;
    font-size: 22px;
    font-weight: 700px;
    letter-spacing: 4px;
}

.projects-cards {
    display: flex;
    z-index: 3;
}

.project-card {
    min-width: 486px;
  display: inline-block;
  margin-right: 15px;
}

.project-card:nth-child(3)>img {
    width: 100%;
}

.project-card-bottom {
    margin-right: 14px;
    margin-left: 28px;
    margin-top: -27px;
    padding-bottom: 12px;
    padding-left: 20px;
    list-style: inside;
    background-color: white;
}

.slider-btns button {
    width: 54px;
    height: 54px;
}

.slider-btns {
    align-self: flex-end;
    padding-right: 112px;
    padding-top: 26px;
}

@media(max-width:1386px){
   .project-card:nth-child(3) {
    display: none
   }
    
}
@media(max-width:1060px){
    .project-card:nth-child(2){
        display: none;
    }
    /* .view-all-projects{
        text-align: center;
    } */

}

@media(max-width:1060px){
    .project-card:nth-child(1){
        justify-content: space-between;
        
    }
}
 
@media(max-width:768px){
    .projects-section{
        padding-left: 15px;
    }
}

.project-card{
    min-width: 400px;
}    
    /* PROJECTS-CARDS END */

/* LATEST-BLOGS  SECTION START */

.latest-blogs-section{
    background-color: black;
   padding: 117px;
   display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -14%;
    
}

.latest-blogs-section h1{
    color: white;
    font-size: 54px;
}

.latest-blogs-section h6{
    color: orange;
}

.latest-blogs-section a{
    color: white;
    
}

.latest-blogs-section h1,
.latest-blogs-section h2{
    color: white;
    font-size: 28px;
    font-weight: 700px;
}

.latest-blogs-section .left-side{
    flex-basis: 40%;
    min-width: 373px;
}

.latest-blogs-section .right-side{
    flex: 1;
    min-width: 509px;
}

.latest-blogs-section .right-side .blog{
    padding: 20px 20px 20px 0px;
    border-bottom: 1px solid #666666;
}

.blog .metadata{
    color: #FFFFFFB2;
    margin-bottom: 30px;
    display: inline-block;
}

.latest-blogs-section .right-side .blog{
    font-size: 28px;
    margin-bottom: 30px;
    width: 489px;
}

.latest-blogs-section .left-side h6{
    font-size: 22px;
    font-weight: 700;
    color: #FFA84B;

   
}

@media(max-width:768px){
    .latest-blogs-section{
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
    }

    .latest-blogs-section .right-side{
        min-width: 450px;
        font-size: 24px;
    }
}


/* LATEST-BLOGS SECTION END */

/* PRODUCT-DESIGNER-SECTION START */

.product-designer-section{
    padding: 73px 113px 79px;
}

.product-designer-section h6{
    font-size: 22px;
    letter-spacing: 4px;
    color: #FF5E69;
    font-weight: 700;
}

.thats-me h1{
    font-size: 54px;
    font-weight: 700;
    min-width: 273px;
}

.thats-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.thats-me p{
    font-size: 22px;
    font-weight: 400;
    color: #666666;
    line-height: 40px;
    min-width: 625px;
  
}
.thats-me-image{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.thats-me-image:nth-child(1),
.thats-me-image:nth-child(3){
    min-width: 338px;
}

.thats-me-image:nth-child(2){
    min-width: 507px;
}

.thats-me-image:nth-child(1),
.thats-me-image:nth-child(2){
    margin-right: 16px;
}
.thats-me-image img{
    width: 100%;
}

.thats-me-image .right-side{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media(max-width:1089px){
    .product-designer-section{
        padding-left: 0px;
        padding-right: 0px;

    }
    .thats-me p{
        min-width: 476px;
        margin-top: 40px;
    }
    .product-designer-section h6{
        margin-bottom: 20px;
    }

    .thats-me-image{
        justify-content: center;
    }

    .thats-me-image .center{
        width: 338px;
    }
}
/* PRODUCT-DESIGNER-SECTION END */

/* EDUCCATION-WORK-SECTION START */

.education-work-section{
    display: flex;
    padding-left: 113px;
    padding-right: 113px;
    flex-wrap: wrap;
}

.education-side{
    flex-basis: 50%;
    padding-top: 74px;
    min-width: 447px;
}

.work-side{
    flex: 1;
    padding-top: 100px;
    min-width: 447px;
}

.education{
    border-bottom:1px solid #E5E5E5;
    padding: 20px 20px 0px;
}

.education-bottom{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 20px;

}

.education-bottom > span:nth-child(2){
    margin-right: 20px;
}
.education-side>h1{
    font-size: 36px;
    margin-bottom: 43px;
    font-weight: 400;
}
.work-side>h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 400;
}

.work-section{
    display: flex;
    align-items: center;
}
.work{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid #E5E5E5;
}
.work-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}

.work-section svg{
  flex-basis: 10%;

}
   

.work-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}

.work-bottom > span:nth-child(2){
    margin-right: 20px;
}
.work-bottom span{
    margin-top: 40px;
}

.education-top{
    display: flex;
    justify-content: space-between;
}

.work-side >h1{
    margin-top: 20px;
}

.education-bottom span{
    color: #00000099;
}

.work-bottom span{
    color: #00000099;
}

@media(max-width:910px){
    .education-side{
        flex: 1;
        
    }
}

@media(min-width:500px){
    .education-work-section{
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* EDUCCATION-WORK-SECTION END */
